### IntelliJ IDEA ###
.idea/
front-end/
*.iml
*.iws
*.ipr

# Environment variables / secrets
.env
.env.*
!.env.example
application-local.properties
application-dev.properties
application-prod.properties

# Compiled class files
*.class

# Maven
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db



### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/